@model HealthMVC.Dto.PersonVM

@{
    ViewData["Title"] = "Form";
    var symptomsList = ViewBag.AvailableSymptoms as List<HealthMVC.Dto.symptomsDto>;
   
}
<div>
    <h3>Check Diagnosis</h3>
</div>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
               
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-action="Form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="YearOfBirth">Select Body Location</label>
                    <select class="select2bs4" asp-for="YearOfBirth" data-placeholder="Select year" style="width: 100%;">
                        <option value="">Select</option>
                       

                            @foreach (var year in  ViewBag.YearList)
                            {
                                <option value="@year">@year</option>
                            }
                        
                        
                    </select>
                </div>
                <div class="form-group">
                    <label for="Gender">Select a Symptom:</label>
                    <select name="Gender" class="form-control">
                        @foreach (var item in ViewBag.EnumValues)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Symptoms"></label>
                    <select class="select2bs4" name="Symptoms" multiple="multiple" data-placeholder="Select Symptoms"
                            style="width: 100%;">
                        @if (symptomsList != null)
                        {
                            @foreach (var symptom in symptomsList)
                            {
                                <option value="@symptom.Id">@symptom.Name</option>
                            }
                        }
                        else
                        {
                            <option value="">No symptoms available</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Check Diagnosis" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>


        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })


        
    </script>
}
